<p [style.background]="backColor">
    <i><b>
    Titlu intial: {{title}}
    <br>
    Titlu dupa TitleCasePipe: {{title | titlecase}}</b></i>
</p>

<p>
    <br>
    Procentul numarului {{numar}} este: {{numar | percent}}
</p>
<p  [style.background]="backColor">
    <i>Astazi este: {{date | date | uppercase}}</i>
</p>
<div>
    Lista cu nume unde numele aflate pe pozitie impara sunt scrise sub forma TitleCase, iar celelalte sunt Uppercase:
<div *ngFor="let word of names;let odd=odd">
        <p *ngIf="odd">{{word | titlecase}}</p>
        <p *ngIf="!odd">{{word | uppercase}}</p>
</div>
</div>
<br>
<br>
<div>
    Lista cu date:
<div *ngFor="let data of dates;let even=even">
        <p *ngIf="even">{{data | date:'short' | uppercase}}</p>
</div>
</div>
<br>
<div>
    <i>Treceti cu mouse-ul peste urmatorul rand</i><br>                             
    <p appColorText="hightlightColor">Concat Pipe={{word | concatValue:" Baltica" | uppercase}}</p>
</div>
