
<!-- <app-homework></app-homework>

<p>
    Title is {{titlu | lowercase}}
</p>
<p>
    Date: {{data | date:"longTime" | lowercase}}
</p>
<p>
    Sum of numbers is:{{myValue | addValue:12}}
</p> -->
<router-outlet></router-outlet>