<div class="notes-container">
<div *ngFor="let note of notes">
    <mat-card class="notes-div" [style.background-color]="note.color">
        <mat-card-header>
            <p style=" font-size: 18px;"><i><b>{{note.title}}</b></i></p>  
            <br><br><br>
        </mat-card-header>
        <mat-card-content>
            <p style="font-style: italic; font-size: 15px;">{{note.description}}</p>
            <div class="Buttons">
                <div class="filterBtn">
            <button mat-icon-button (click)="toDo(note.id)"><mat-icon>arrow_forward</mat-icon></button>
            <button mat-icon-button (click)="doing(note.id)"><mat-icon>star_half</mat-icon></button>
            <button mat-icon-button (click)="done(note.id)"><mat-icon>check_circle_outline</mat-icon></button>
                </div>
                <div class="EditAndRemoveBtn">
            <button mat-icon-button (click)="openDialog(note.id)"  ><mat-icon>edit</mat-icon></button>
            <button mat-icon-button (click)="RemoveNote(note.id)"><mat-icon>delete</mat-icon></button>
                 </div>
             </div>
        </mat-card-content>
        
 </mat-card>  
</div>
<mat-card class="add-note-card" routerLink="add-note">
    <button mat-icon-button><mat-icon>add</mat-icon></button>
 </mat-card>
</div>