.header{
    font-size: 30px;
    font-style:oblique;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.label{
    width: 300px;
    align-items:center;
    align-self: center;
    align-content:center;
}

.form{
    display: flex;
    border-color: orange;
    border-style:inset;
    border-width: 1px;
    flex-direction: column;
    align-items:center;
    align-self: center;
    align-content:center;
    width: 500px; 
    background-color:antiquewhite;
    height:700px;
    margin-left: 35%;
    margin-top: 2%;
    margin-bottom: 100%;
    font-size: 24px;
    font-style: italic;

}

.title{
    background-color: green;
}

.btn{
    background-color:brown;
    margin-left: 33%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    font-style: bold;
    
}

.background{
    display: flex;
    background-color:burlywood;
}


