.add-note-card {
    max-width: 250px;
          min-height: 250px;
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: aquamarine;
    }
    