<!-- <p [style.background]='titleColor'>Title is {{title}}</p>
<p>
    Text is: {{noteContent}}
</p>
<input type="text" [(ngModel)]="noteContent"/>
<button mat-icon-button (click)='functie()'> <mat-icon>add</mat-icon></button>
<mat-form-field>
    <input matInput placeholder="Add Note" >
</mat-form-field> -->

<!-- <mat-card class="add-note-card" routerLink="add-note">
    <button mat-icon-button><mat-icon>add</mat-icon></button>
 </mat-card> -->

 <!-- <mat-form-field appearance="legacy">
    <mat-label>Search</mat-label>
    <input matInput type="text"[(ngModel)]="noteContent">
</mat-form-field>
    <mat-icon (click)="onSearchClicked()">search</mat-icon>

  -->
 