body{
 background-color: FFF890;
}

.name {
	width: 100%;
	height: 46px;
	background-color: FFFFD5;
	border-width:thin;
	border-radius: 8px;
	font-family: Georgia;
    font-size: 20px;
}

.content {
    font-family: Georgia;
    font-size: 25px;
}

.selection {
    width: 100%;
	height: 45px;
	background-color: FFFFD5;
	border-width:thin;
	border-radius: 8px;
	font-family: Georgia;
	font-size: 20px;
}

.d {
   width: 100%;
   height: 125px;
   background-color: FFFFD5;
   border-width:thin;
   border-radius: 8px;
   margin-bottom: 15px;
   font-family: Georgia;
   font-size: 20px;
   padding: 1px;
   resize:none;
}

.btn {
	width: 125px;
	height: 55px;
	background-color: 76CBE2;
	border-radius: 12px;
	cursor: pointer;
	font-family: Brush Script MT;
	font-size: 25px;
}

.btn:hover {background-color: F23333}